        div {
            border: 1px solid gray;
            width: 40px;
            height: 40px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin: 2px;
        }
        body{
            display: grid;
            grid-template-columns: repeat(7,40px);
        }